# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Responses**

1. Tidy Data by Hadley Wickham outlines a framework for "tidying" messy datasets. She states that although the field has focused on the cleaning of data itself to get it ready for analysis, the field lacks knowledge about how the process of cleaning could be improved. In short, this paper contributes value to the field by creating a common framework for data cleaning that best lends itself to analysis.
2. The tiny data standard provides a common framework to structure datasets to facilitate analysis. The standard is inteded to simplify the cleaning process across datasets by creating a common framework. The standard makes initial data exploration easier for a range of varying datasets, allowing for the creation of common data analysis tools that work on a range of tidy datasets.
3. The first sentence means that without the tiny data standard, different datasets have unique characteristics and problems and therefore require dedicated analysis tools. On the other hand, tidy sets are alike enough that common tools can be appropriate. The second sentence means that for a given dataset, it's often intuitive to distinguish between observations (rows) and variables (columns); for example, a person is an observation, and their height is a variable. However, what a given variable might mean in the context of different datasets can vary greatly; for example, "ID number" could correspond to a variety of different variables
4. Values are entires in the dataset, while variables are the different measured outcomes, and observations are individual cases/people that have different values for each variable. For example, a dataset of test scores would have an observation for each student, with each test score being a different variable, and with each student's score on an individual test being the value for that observation and variable.
5. A tidy dataset conforms to the following three rules: a) each variable forms a column, b) each observation forms a row, and c) each type of observational unit forms a table (3rd normal form). With the school dataset, this means that each row represents a student, with each student having a score for each test, and each column representing one test.
6. The five most common problems with messy data sets are: a) column headers are values, not variable names, b) multiple variables stored in one column, c) variables stored in both rows and columns, d) multiple "units of observation" in the same table (an observation means different things for different rows), and e) a single observational unit is used in multiple tables (they should be the same table). Table 4, an analysis of the relationship between income and religion, is messy because variables form both rows and columns, and values are used for column headers, instead of variable names. Melting a dataset means to stack it, or to turn each distinct variable into its own column. In this example, it would mean making an observation for each pair of variables (one observation = one religion and one income group, the variable is the frequency, and the value is the observed frequency)
7. Table 11 is messy because it has variables spread across columns and rows--it has columns like id, year, and d1-d31, and rows like min and max temperature. Table 12(b) is tidy because columns year, month, and all the days have been melted to a "date" column, and it's further tidied by turning the row "element" into two distinct variables "tmin" and "tmax"
8. Tools need tidy data to work effectively, but tidying data is difficult without effective tools. Wickham hopes that the tidy data framework can lay the foundation for future research in the field to develop better tools to streamline data wrangling. As it gets easier to tidy data, it will be easier to use tools.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)

In [29]:
import numpy as np
import pandas as pd
import seaborn as sns

In [38]:
df = pd.read_csv('/Users/willmayer/Desktop/DS3001/ds30001-wrangling/assignment/data/airbnb_hw.csv',low_memory=False)
var = 'Price'
price = df[var]
print(df.shape)
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [39]:
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [68]:
df.dtypes

index             int64
Case Number      object
Date             object
Year            float64
Type             object
                 ...
Unnamed: 251    float64
Unnamed: 252    float64
Unnamed: 253    float64
Unnamed: 254    float64
Unnamed: 255    float64
Length: 257, dtype: object

*Price is type object (likely string), so I'll remove the plaintext and convert to an int so we can do math*

In [41]:
price = price.str.replace(',','') # I did NOT know you could vectorize str methods... that's awesome
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3000', '112',
       '94', '379', '57', '415', '236', '410', '214', '88', '66', '71',
       '171', '157', '545', '1500', '83', '96', '1800', '81', '188',
       '380', '255', '505', '54', '33', '174', '93', '740', '640', '1300',
       '440', '599', '357', '1239', '495', '127', '5999', '178', '348',
       '152', '242', '183', '253', '750', '259', '365', '273', '197',
       '397', '103', '389', '355', '559', '38', '203', '999', '141',
       '162', '333', '698', '46', '360', '895', '10', '41', '206', '281',
       '449', '388', '212', '102', '201', '2750', '4750', '432', '675',
       '167', '390', '298', '339', '194', '302', '211', '595', '191',
       '53', '361', '480', '8000', '4500', '459', '997', '345', '216',
       '218', '111', '735', '276', '91', '490', '850', '398', '36', '775',
       '267', '625', '336', '2500', '176', '725', '3750', '469', '106',
       '460', '287', '575', '227', '263', '25', '228', '208', '177',
       '880', '148', '116', '685', '470', '217', '164', '61', '645',
       '699', '405', '252', '319', '268', '419', '343', '525', '311',
       '840', '154', '294', '950', '409', '184', '257', '204', '241',
       '2000', '412', '121', '288', '196', '900', '647', '524', '1750',
       '309', '510', '1495', '1700', '799', '383', '372', '492', '327',
       '1999', '656', '224', '173', '875', '1170', '795', '690', '146',
       '465', '1100', '151', '274', '429', '825', '282', '256', '1111',
       '620', '271', '161', '51', '855', '579', '1174', '430', '20',
       '899', '649', '485', '181', '455', '4000', '243', '342', '590',
       '560', '374', '437', '232', '359', '985', '31', '244', '254',
       '723', '237', '428', '370', '34', '1400', '580', '2520', '221',
       '749', '1600', '2695', '306', '202', '680', '570', '520', '223',
       '2295', '213', '1065', '346', '24', '286', '296', '266', '26',
       '995', '1368', '393', '182', '635', '258', '780', '589', '347',
       '1250', '1350', '446', '3200', '1050', '1650', '1550', '975',
       '323', '6500', '2499', '1850', '2250', '715', '461', '540', '356',
       '439', '384', '569', '1900', '22', '785', '626', '830', '318',
       '444', '321', '401', '1499', '888', '369', '770', '386', '366',
       '344', '630', '313', '597', '262', '509', '10000', '278', '312',
       '789', '1195', '422', '21', '765', '3500', '945', '326', '3100',
       '2486', '3390', '1356', '2599', '472', '454', '328', '396', '291'],
      dtype=object)

In [42]:
price = pd.to_numeric(price,errors='coerce')
price.unique()

array([  145,    37,    28,   199,   549,   149,   250,    90,   270,
         290,   170,    59,    49,    68,   285,    75,   100,   150,
         700,   125,   175,    40,    89,    95,    99,   499,   120,
          79,   110,   180,   143,   230,   350,   135,    85,    60,
          70,    55,    44,   200,   165,   115,    74,    84,   129,
          50,   185,    80,   190,   140,    45,    65,   225,   600,
         109,  1990,    73,   240,    72,   105,   155,   160,    42,
         132,   117,   295,   280,   159,   107,    69,   239,   220,
         399,   130,   375,   585,   275,   139,   260,    35,   133,
         300,   289,   179,    98,   195,    29,    27,    39,   249,
         192,   142,   169,  1000,   131,   138,   113,   122,   329,
         101,   475,   238,   272,   308,   126,   235,   315,   248,
         128,    56,   207,   450,   215,   210,   385,   445,   136,
         247,   118,    77,    76,    92,   198,   205,   299,   222,
         245,   104,   153,   349,   114,   320,   292,   226,   420,
         500,   325,   307,    78,   265,   108,   123,   189,    32,
          58,    86,   219,   800,   335,    63,   229,   425,    67,
          87,  1200,   158,   650,   234,   310,   695,   400,   166,
         119,    62,   168,   340,   479,    43,   395,   144,    52,
          47,   529,   187,   209,   233,    82,   269,   163,   172,
         305,   156,   550,   435,   137,   124,    48,   279,   330,
        5000,   134,   378,    97,   277,    64,   193,   147,   186,
         264,    30,  3000,   112,    94,   379,    57,   415,   236,
         410,   214,    88,    66,    71,   171,   157,   545,  1500,
          83,    96,  1800,    81,   188,   380,   255,   505,    54,
          33,   174,    93,   740,   640,  1300,   440,   599,   357,
        1239,   495,   127,  5999,   178,   348,   152,   242,   183,
         253,   750,   259,   365,   273,   197,   397,   103,   389,
         355,   559,    38,   203,   999,   141,   162,   333,   698,
          46,   360,   895,    10,    41,   206,   281,   449,   388,
         212,   102,   201,  2750,  4750,   432,   675,   167,   390,
         298,   339,   194,   302,   211,   595,   191,    53,   361,
         480,  8000,  4500,   459,   997,   345,   216,   218,   111,
         735,   276,    91,   490,   850,   398,    36,   775,   267,
         625,   336,  2500,   176,   725,  3750,   469,   106,   460,
         287,   575,   227,   263,    25,   228,   208,   177,   880,
         148,   116,   685,   470,   217,   164,    61,   645,   699,
         405,   252,   319,   268,   419,   343,   525,   311,   840,
         154,   294,   950,   409,   184,   257,   204,   241,  2000,
         412,   121,   288,   196,   900,   647,   524,  1750,   309,
         510,  1495,  1700,   799,   383,   372,   492,   327,  1999,
         656,   224,   173,   875,  1170,   795,   690,   146,   465,
        1100,   151,   274,   429,   825,   282,   256,  1111,   620,
         271,   161,    51,   855,   579,  1174,   430,    20,   899,
         649,   485,   181,   455,  4000,   243,   342,   590,   560,
         374,   437,   232,   359,   985,    31,   244,   254,   723,
         237,   428,   370,    34,  1400,   580,  2520,   221,   749,
        1600,  2695,   306,   202,   680,   570,   520,   223,  2295,
         213,  1065,   346,    24,   286,   296,   266,    26,   995,
        1368,   393,   182,   635,   258,   780,   589,   347,  1250,
        1350,   446,  3200,  1050,  1650,  1550,   975,   323,  6500,
        2499,  1850,  2250,   715,   461,   540,   356,   439,   384,
         569,  1900,    22,   785,   626,   830,   318,   444,   321,
         401,  1499,   888,   369,   770,   386,   366,   344,   630,
         313,   597,   262,   509, 10000,   278,   312,   789,  1195,
         422,    21,   765,  3500,   945,   326,  3100,  2486,  3390,
        1356,  2599,   472,   454,   328,   396,   291])

In [45]:
sum(price.isnull()) # Can you vectorize most methods like this?
df[var] = price
del price

In [64]:
df[var].value_counts()

0       Unprovoked
1         Provoked
2       Unprovoked
3       Unprovoked
4       Unprovoked
           ...
6457    Unprovoked
6458    Unprovoked
6459    Unprovoked
6460    Unprovoked
6461    Unprovoked
Name: Type, Length: 6462, dtype: object

*No values missing!*

2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.

In [53]:
df = pd.read_csv('/Users/willmayer/Desktop/DS3001/ds30001-wrangling/assignment/data/sharks.csv',low_memory=False)
var = 'Type'
type = df[var]

type.unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation',
       'Boating', 'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [54]:
type.describe()
type.value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

*Should lump unclean values, lump boat/watercraft/boating/sea disaster (this is making an assumption about what these values mean, but I'm fairly confident that they all refer to boating-related incidents, and there's no codebook)*

In [62]:
boat = ['Sea Disaster','Watercraft','Boat','Boating','Boatomg'] #Lump watercraft
type.replace(boat, 'Boating Accidents',inplace=True)
type.value_counts()

unclean = ['Invalid','Questionable','Unconfirmed','Unverified','Under investigation'] #Lump unclean
type.replace(unclean,np.nan,inplace=True)
print(type.value_counts(),'\n')
print("Missing:",sum(type.isnull()))

Type
Unprovoked           4716
Provoked              593
Boating Accidents     583
Name: count, dtype: int64

Missing: 570

In [63]:
df[var] = type
del type

In [66]:
df[var].value_counts()

Type
Unprovoked           4716
Provoked              593
Boating Accidents     583
Name: count, dtype: int64

3. Dummy variable: For the pretrial data covered in the lecture, clean the WhetherDefendantWasReleasedPretrial variable as well as you can, and, in particular, replace missing values with np.nan.

In [75]:
df = pd.read_csv('/Users/willmayer/Desktop/DS3001/ds30001-wrangling/pretrial_data.csv',low_memory=False)
df.head()

,Unnamed: 0,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,...,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants,age,sex,age_nan,age_impute,bond_NA
0,0,ADI00001,1,M,W,1986,31,3,31,99,...,,4,1,0,Defendant could not be classified or tracked d...,31.0,M,False,31.0,True
1,1,ADI00007,3,M,B,1956,60,6,60,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,60.0,M,False,60.0,True
2,2,ADI00008,4,M,W,1990,27,3,27,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
3,3,CDI00036,6,M,B,1989,27,3,27,0,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
4,4,CDI00038,7,F,W,1988,28,3,28,0,...,,0,1,1,New criminal offense punishable by incarcerati...,28.0,F,False,28.0,True

In [79]:
var = 'released' #I think you wanted us to work on this column? Not sure
release = df[var]
print(release.unique(),'\n')
print(release.value_counts(),'\n')

[9 0 1]

released
1    19154
0     3801
9       31
Name: count, dtype: int64

*Codebook: 9 stands for missing*

In [81]:
release.replace(9, np.nan, inplace=True)
print(release.unique(),'\n')
print(release.value_counts(),'\n')
print("Missing:",sum(release.isnull()))

[nan  0.  1.]

released
1.0    19154
0.0     3801
Name: count, dtype: int64

Missing: 31

In [82]:
df[var] = release
del release
df[var].value_counts()

released
1.0    19154
0.0     3801
Name: count, dtype: int64

4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [88]:
length = df['ImposedSentenceAllChargeInContactEvent'] #sentence term in months
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

# Type Codebook:
# 0: Probation/No Incarceration
# 1: Jail up to 12 mo 
# 2: Prison >1yr
# 4: Other
# 9: Missing

print(length.unique(),'\n')
print(length.value_counts(),'\n')

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

ImposedSentenceAllChargeInContactEvent
                    9053
0                   4953
12                  1404
.985626283367556    1051
6                    809
                    ...
49.9712525667351       1
57.0349075975359       1
79.9260780287474       1
42.1642710472279       1
1.6570841889117        1
Name: count, Length: 484, dtype: int64

In [97]:
length.replace('',np.nan,inplace=True)
length = pd.to_numeric(length,errors='coerce')

missing_length = length.isnull()
print("Missing (length):",sum(missing_length))

pd.crosstab(missing_length,type)

Missing (length): 9053

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

*Category 4 means charges dismissed, should not be treated as missing length*

In [101]:
length.mask(type == 4, 0,inplace=True) #If length is missing and sentence was dismissed, then length is 0 months
length.mask(type ==9, np.nan, inplace=True) #If length is missing and sentence type is missing, length is nan

print("Missing (length):",sum(length.isnull()))
pd.crosstab(length.isnull(),type)

Missing (length): 274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

In [104]:
df['ImposedSentenceAllChargeInContactEvent'] = length
del length, type
df['ImposedSentenceAllChargeInContactEvent'].unique() # Are all the numbers supposed to be very fine decimals b/c it's in months, or has smth gone wrong?

array([           nan, 6.00000000e+01, 1.20000000e+01, 9.85626283e-01,
       0.00000000e+00, 3.60000000e+01, 6.00000000e+00, 2.40000000e+01,
       5.91375770e+00, 1.20000000e+02, 7.20000000e+01, 1.19917864e+01,
       2.95687885e+00, 8.40000000e+01, 1.08000000e+02, 3.00000000e+02,
       2.40000000e+02, 1.80000000e+02, 4.00000000e+00, 9.60000000e+01,
       2.00000000e+00, 5.40000000e+01, 3.28542094e-01, 4.40000000e+01,
       5.00000000e+00, 1.15000000e+02, 1.32000000e+02, 4.80000000e+01,
       2.58000000e+02, 3.40000000e+01, 7.60000000e+01, 1.64271047e-01,
       1.31416838e-01, 1.11000000e+02, 9.00000000e+00, 3.00000000e+00,
       1.97125257e+00, 3.69856263e+01, 6.57084189e-02, 3.54928131e+01,
       1.06492813e+02, 8.00000000e+00, 3.50000000e+01, 1.83141684e+01,
       4.80000000e+02, 3.20000000e+01, 9.30000000e+01, 2.34000000e+02,
       7.32000000e+02, 1.16427105e+00, 4.65708419e+00, 2.10000000e+01,
       7.00000000e+00, 4.49281314e+00, 1.80000000e+01, 6.00000000e+02,
       4.31642710e+01, 1.79000000e+02, 5.20000000e+01, 3.00000000e+01,
       2.00000000e+01, 1.92000000e+02, 7.02000000e+02, 1.40000000e+01,
       5.50000000e+01, 5.30000000e+01, 1.19055441e+01, 1.14000000e+02,
       3.50061602e+01, 6.80000000e+01, 6.57084189e-01, 4.66242300e+01,
       1.02000000e+02, 6.50000000e+01, 2.00000000e+02, 5.70000000e+01,
       2.43285421e+01, 1.21642710e+01, 1.17000000e+02, 8.14928131e+01,
       2.24928131e+01, 1.98000000e+03, 3.65708419e+00, 5.60000000e+01,
       1.00000000e+01, 2.79260780e+00, 1.00000000e+00, 4.70000000e+01,
       2.20000000e+01, 1.50000000e+03, 4.00000000e+01, 2.84000000e+02,
       1.10000000e+01, 1.18000000e+02, 4.20000000e+01, 1.62000000e+02,
       1.56000000e+02, 4.72956879e+01, 1.05000000e+02, 5.10000000e+01,
       2.46000000e+02, 2.90000000e+01, 7.50000000e+01, 3.24000000e+02,
       3.60000000e+02, 3.44804928e+01, 1.20328542e+02, 5.99260780e+01,
       6.60000000e+01, 5.99917864e+01, 6.60000000e+02, 5.11642710e+01,
       1.49568789e+01, 3.98562628e+00, 7.80000000e+01, 2.28000000e+02,
       1.47843943e+00, 6.20000000e+01, 4.80000000e+00, 8.60000000e+01,
       1.68000000e+02, 2.30000000e+01, 3.30000000e+01, 4.80328542e+01,
       7.20000000e+02, 3.48000000e+02, 1.20000000e+03, 2.70000000e+01,
       4.90000000e+01, 8.70000000e+01, 4.20000000e+02, 6.30000000e+01,
       7.99260780e+01, 5.70349076e+01, 4.99712526e+01, 5.94928131e+01,
       1.70000000e+01, 2.38492813e+02, 6.09856263e+01, 1.26000000e+02,
       4.50000000e+01, 1.58000000e+02, 2.16000000e+02, 2.27000000e+02,
       4.29568789e+01, 4.45000000e+02, 7.09527721e+01, 5.16000000e+02,
       1.77821355e+02, 1.75200000e+03, 9.00000000e+01, 1.08000000e+03,
       1.41000000e+02, 4.82956879e+00, 2.30000000e+02, 3.10000000e+01,
       2.20800000e+03, 5.25133470e+01, 6.90000000e+01, 2.60000000e+01,
       3.34928131e+01, 1.40000000e+02, 1.31000000e+02, 3.44000000e+02,
       2.19000000e+02, 1.01000000e+02, 7.10000000e+01, 5.90000000e+01,
       5.80000000e+01, 1.20197125e+02, 6.70000000e+01, 3.54004107e+01,
       3.28542094e+00, 4.01642710e+01, 9.10000000e+01, 1.77412731e+00,
       1.55000000e+02, 3.44928131e+01, 8.10000000e+01, 9.23285421e+01,
       3.54825462e+00, 2.07000000e+02, 7.40000000e+01, 5.18000000e+02,
       2.80000000e+01, 8.95687885e+00, 2.37000000e+02, 4.04673511e+02,
       1.81642710e+01, 1.07433265e+01, 5.51000000e+02, 3.90000000e+01,
       1.50000000e+01, 1.24000000e+02, 4.30000000e+01, 1.76000000e+02,
       1.94928131e+01, 4.82000000e+02, 1.29000000e+02, 8.80000000e+01,
       4.60000000e+01, 4.58542094e+01, 1.28628337e+02, 1.36492813e+02,
       1.08328542e+02, 5.00000000e+01, 3.63663244e+02, 2.88000000e+02,
       2.50000000e+02, 1.07000000e+02, 8.10225873e+01, 4.44000000e+02,
       2.05000000e+02, 1.06570842e+01, 1.90000000e+01, 6.69856263e+01,
       3.84928131e+01, 2.64000000e+02, 2.76000000e+02, 1.73000000e+02,
       2.22000000e+02, 1.44000000e+02, 2.94000000e+02, 3.36000000e+02,
       4.31000000e+02, 4.50000000e+02, 7.30000000e+01, 9.93285421e+01,
       1.28000000e+02, 3.08069815e+01, 3.15256674e+01, 1.27000000e+02,
       2.02000000e+02, 5.53285421e+01, 8.90000000e+01, 2.42000000e+02,
       1.31416838e+00, 1.02900000e+03, 7.88501027e-01, 1.94858316e+02,
       3.99000000e+02, 3.96570842e+01, 5.69568789e+01, 1.98000000e+02,
       1.20985626e+02, 4.76570842e+01, 1.48000000e+02, 6.89938398e+00,
       6.53285421e+01, 5.95277207e+00, 9.85626283e-02, 3.32854209e+00,
       3.94250513e+00, 1.29856263e+01, 6.98562628e+00, 1.31498973e+01,
       1.51642710e+01, 1.71971253e+01, 1.79137577e+01, 1.04000000e+02,
       2.12000000e+02, 2.46570842e+01, 7.26570842e+01, 2.98562628e+00,
       1.44985626e+02, 3.19712526e+01, 1.83000000e+02, 4.98562628e+00,
       1.18213552e+01, 2.52000000e+02, 1.23942505e+01, 4.24928131e+01,
       1.01642710e+01, 1.11642710e+01, 5.49281314e+00, 5.96632444e+01,
       1.23285421e+01, 4.89856263e+01, 2.40985626e+02, 2.65708419e+00,
       5.40000000e+02, 2.97125257e+00, 6.32854209e+00, 2.36632444e+01,
       1.33657084e+02, 3.53285421e+01, 4.56000000e+02, 1.03000000e+02,
       1.72279261e+00, 1.26570842e+01, 1.16570842e+01, 6.03285421e+01,
       3.78850103e+00, 5.76000000e+02, 2.13141684e+00, 4.92000000e+02,
       1.49856263e+01, 2.49856263e+01, 6.19712526e+01, 5.65708419e+00,
       1.60000000e+01, 4.21642710e+01, 4.92813142e-01, 1.38000000e+02,
       1.33141684e+01, 1.18932238e+01, 5.32854209e+00, 9.50000000e+01,
       6.26570842e+01, 3.08829569e+00, 1.18275154e+01, 1.64271047e+00,
       4.79917864e+01, 4.27104723e+00, 8.32854209e+00, 3.31416838e+00,
       7.00000000e+01, 7.70000000e+01, 1.09856263e+00, 4.81642710e+01,
       2.74928131e+01, 6.93839836e+00, 1.01100000e+03, 6.89938398e-01,
       1.11704312e+00, 1.49281314e+00, 4.16427105e+00, 1.19712526e+00,
       4.07392197e+00, 1.88000000e+02, 1.13285421e+01, 3.28542094e-02,
       4.32000000e+02, 1.19527721e+01, 3.64928131e+01, 2.39835729e+01,
       9.98562628e+00, 9.80000000e+01, 3.63285421e+01, 1.12000000e+02,
       3.94250513e-01, 1.30000000e+01, 2.62833676e-01, 1.37987680e+01,
       5.88706366e+00, 3.54000000e+02, 5.91991786e+00, 2.41642710e+01,
       6.29568789e+01, 4.59958932e+00, 1.23000000e+02, 2.32854209e+00,
       2.39240246e+01, 2.04000000e+02, 1.97000000e+02, 1.74000000e+02,
       1.61498973e+01, 8.40000000e+02, 4.40000000e+02, 9.89568788e+01,
       1.79527721e+01, 6.39425051e+01, 6.01314168e+01, 1.21314168e+01,
       1.72952772e+02, 1.97125257e-01, 1.38164271e+02, 4.92813142e+00,
       9.19917864e-01, 1.89856263e+01, 6.65708419e+00, 2.85420945e+00,
       8.91375770e+00, 1.46000000e+02, 1.24928131e+01, 5.58521561e-01,
       7.22792608e-01, 5.82135524e+00, 8.49856263e+01, 6.16427105e+00,
       1.59856263e+01, 6.45585216e+01, 3.82997947e+01, 1.19589322e+01,
       3.12114990e+00, 1.26328542e+02, 5.16427105e+00, 6.40000000e+01,
       4.26570842e+01, 3.12000000e+02, 1.99712526e+01, 8.23285421e+01,
       2.39712526e+01, 1.76242300e+01, 1.21971253e+02, 5.96550308e+01,
       1.32854209e+00, 7.97125257e+00, 1.91991786e+00, 5.25667351e-01,
       9.32854209e+00, 4.29856263e+01, 4.19137577e+01, 7.29856263e+01,
       1.24784394e+01, 5.19096509e+00, 4.73000000e+02, 1.66570842e+01,
       1.09000000e+02, 8.63285421e+01, 4.10000000e+01, 1.90554415e+00,
       9.41642710e+01, 3.02000000e+02, 4.39425051e+00, 1.08213552e+01,
       1.83285421e+01, 1.54000000e+02, 8.30000000e+01, 1.10956879e+02,
       2.26000000e+02, 9.60328542e+01, 4.82135524e+00, 3.03285421e+01,
       3.79712526e+01, 5.04640657e+01, 2.86000000e+02, 9.90000000e+01,
       9.94928131e+01, 2.66119097e+00, 7.09712526e+01, 1.39712526e+01,
       2.36570842e+01, 4.59958932e-01, 1.32492813e+02, 2.83000000e+02,
       4.93141684e+01, 2.79856263e+01, 3.80000000e+01, 7.65708419e+00,
       8.36550308e+01, 1.09199179e+01, 1.62328542e+02, 3.70000000e+01,
       1.32328542e+02, 3.59527721e+01, 1.65000000e+02, 1.09856263e+01,
       2.01642710e+01, 2.59137577e+00, 1.75000000e+02, 1.80985626e+02,
       1.03285421e+01, 3.61642710e+01, 1.20657084e+02, 2.32000000e+02,
       1.52000000e+02, 8.98562628e+00, 1.67000000e+02, 1.10657084e+01,
       1.12032854e+01, 5.19712526e+00, 3.16427105e+00, 6.01642710e+01,
       1.18275154e+00, 2.11642710e+01, 2.19712526e+00, 4.19712526e+00,
       2.62833676e+00, 1.19952772e+02, 1.19958932e+02, 9.49281314e+00,
       5.25667351e+00, 1.53285421e+01, 2.82135524e+00, 1.92985626e+02,
       4.86570842e+01, 5.95687885e+00, 2.29979466e+00, 9.60000000e+02,
       2.36550308e+00, 1.16000000e+02, 1.95133470e+01, 1.65708419e+00])

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?